

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
	
	.screen_blue{
		@include pos-scale(1, 0, .5);
	}



	.buy{		
		transform-origin: 50% 50%;
		@include pos-scale(336, 7, .5);
	}


	.phone_2{
		@include pos-scale(20, 0, .5);
	}

	.card{
		@include pos-scale(16, 0, .5);
	}


	.cart, .cart_4{
		transform-origin: 50% 50%;
		@include pos-scale(0, 0, .5);
	}

	.cart{		
		@include pos-scale(399, -9, .5);
	}

	.cart_4{		
		@include pos-scale(500, 7, .5);
	}
}



#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}

